In [1]:
install.packages("keras")
install.packages("tensorflow")
install.packages('randomForest')
library(keras)
library(tensorflow)
library(randomForest)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

randomForest 4.7-1.1

Type rfNews() to see new features/changes/bug fixes.

In [2]:
cifar10 <- dataset_cifar10()

Loaded Tensorflow version 2.9.2

In [3]:
ctrain_x <- cifar10$train$x

ctrain_y <- cifar10$train$y 

ctest_x <- cifar10$test$x

ctest_y <- cifar10$test$y

In [4]:
colnames(ctrain_y) <- c("Output")

In [5]:
ctrain_df_x = as.data.frame(ctrain_x)

In [6]:
dim(ctrain_df_x)

[1] 50000  3072

In [7]:
ctrain_df_x <- as.matrix(ctrain_df_x)

In [8]:
ctrain = cbind(ctrain_df_x,ctrain_y)

In [9]:
head(ctrain,5)

     V1  V2  V3  V4  V5  V6  V7  V8  V9  V10 ⋯ V3064 V3065 V3066 V3067 V3068
[1,]  59  16  25  33  50  71  97 115 137 154 ⋯  99    75    58    48    26
[2,] 154 140 140 136 129 136 146 162 127  71 ⋯ 160   161   107   107   133
[3,] 255 255 255 255 255 255 255 255 255 255 ⋯  81    88    95    84    78
[4,]  28  33  39  54  74  76  77  79  52  45 ⋯  40    47    60    43    47
[5,] 170 168 154  96  80  71  62  56  52  45 ⋯  83    65    62    37    19
     V3069 V3070 V3071 V3072 Output
[1,]  9    20     34    72   6
[2,] 94    91    131   144   9
[3,] 86    79     82    84   9
[4,] 56    52     55    46   4
[5,] 33    68     78    80   1

In [19]:

ctrain <- as.data.frame(ctrain)

ctrain <- head(ctrain,10000)

In [20]:
ctrain$Output <- as.factor(ctrain$Output)

In [21]:
rf <- randomForest(ctrain$Output ~ .,data = ctrain,ntree = 100, importance = TRUE,mtry = 5,metric = "Acurracy")

In [22]:
rf

Call:
 randomForest(formula = ctrain$Output ~ ., data = ctrain, ntree = 100,      importance = TRUE, mtry = 5, metric = "Acurracy")
               Type of random forest: classification
                     Number of trees: 100
No. of variables tried at each split: 5

        OOB estimate of  error rate: 69.4%
Confusion matrix:
   0  1  2  3  4  5  6  7  8  9 class.error
0 41  7  9  3  2  0  6  4 23  7   0.5980392
1  5 38  7  4  9  4  9  6 14 16   0.6607143
2 16  6 22  5 20  6 12  4  4  4   0.7777778
3  9  5  9 14  7 11 19  8  3  7   0.8478261
4  5  2 14  4 28  8 24  4  6  4   0.7171717
5  3  7 12  8 14 17  9  6  4  5   0.8000000
6  2  8 12  8 26  3 34  7  0  7   0.6822430
7  6 10  6  4 16 10 10 21  6 13   0.7941176
8 20  5  2  3  5  1  1  6 48  8   0.5151515
9  8 15  5  2  2  3  7  7 11 43   0.5825243